<mj-section>
  <mj-column>
    <mj-text>
      <p>
        <strong>Our thanks to our sponsor, <a href="{{url}}">{{name}}</a>.</strong>
      </p>
      <p>
        {{{__content}}}
      </p>
    </mj-text>
  </mj-column>
  <mj-column>
    <mj-image
      src="{{logo}}"
      href="{{url}}"
      alt="{{name}}">
    </mj-image>
  </mj-column>
</mj-section>
